<?xml version="1.0"?>

<model>
  <name>WUT Velma</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Dawid Seredyński</name>
    <email>dawid.seredynski@pw.edu.pl</email>
  </author>

  <description>
    WUT Velma dual-arm robot
  </description>
</model>
